@import '../../../styles.scss';

.characters-wrapper{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.character-card{
  background: radial-gradient(circle,rgba(235, 172, 0, 1) 0%, rgba(120, 92, 0, 1) 50%);
  border-radius: 8px;
  text-align: center;
  align-content: center;
  min-height: 500px;
  max-height: 500px;
  min-width: 22.5%;
  max-width: 22.5%;
  margin: 20px;
  text-shadow: $shadow;
  color: rgb(189, 76, 0);
  box-shadow: 10px 10px 5px black;
}

.character-card img{
  object-fit: cover;
  width: 60%;
  min-height: 350px;
  max-height: 350px;
  border-radius: 10px;
}
