@import '../../../styles.scss';

.characters-wrapper{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.character-card{
  background: radial-gradient(circle,rgba(235, 172, 0, 1) 0%, rgba(120, 92, 0, 1) 50%);
  border-radius: 8px;
  text-align: center;
  align-content: center;
  min-height: 550px;
  max-height: 550px;
  min-width: 22%;
  max-width: 22%;
  margin: 20px;
  text-shadow: $shadow;
  color: rgb(189, 76, 0);
  box-shadow: 10px 10px 5px black;
}

.character-card img{
  object-fit: cover;
  width: 90%;
  min-height: 400px;
  max-height: 400px;
  border-radius: 10px;
}
